#### Sets
sets are built in data type in python used to store collection of unique items.they are unordered,meaning that the elements do not follow a specific order,and they do not allow duplicate elements.Sets are useful for membership tests,eliminating duplicates entries,and performing mathematical set operation like union,intersection,difference and symmetric difference.

In [2]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [6]:
my_empty_set=set([1,2,3,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [8]:
my_set=set([1,2,3,6,5,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [11]:
## Basic Set operation
##adding and removing 
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [12]:
## Removing the elements from a set
my_set.remove(3)
print("my_set")

my_set

In [14]:
my_set.remove(10)

KeyError: 10

In [16]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [17]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [19]:
## Clear all the elements
my_set.clear()   
print(my_set)

set()

In [20]:
## Set Membership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [24]:
## Mathematical operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
##union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

## intersection update it update the value of set1.
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [25]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
##differnece
print(set1.difference(set2))

{1, 2, 3}

In [26]:
set1

{1, 2, 3, 4, 5, 6}

In [31]:

set1.difference_update(set2)
print(set1)

{1, 2, 3}

In [33]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set2.difference(set1)

{7, 8, 9}

In [34]:
## symmetric Differnece:only common element remove
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [37]:
## Sets Method
set1={1,2,3,4,5}
set2={3,4,5}
## is.subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [38]:
## How to remove the duplicate elements fro the list just convert it into a set
lst=[1,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [39]:
## counting unique word in text
text="IN THIS tutorial we are discussing about sets"
word=text.split()
## convert list of words of set to get unique words
unique_words=set(word)
print(unique_words)
print(len(unique_words))

{'we', 'IN', 'tutorial', 'discussing', 'sets', 'THIS', 'are', 'about'}
8